﻿@page
@model RazorPages.Pages.Food.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var food in Model.Food)
        {
        <tr>
            <td>@food.Title</td>
            <td>@food.Description</td>
            <td>@string.Format("{0:C}", food.Price)</td>
        </tr>
        }
    </tbody>
</table>