﻿@page
@model RazorPages.Pages.Orders.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

@if (Model.Order is null && Model.Order.Count == 0)
{
    <span>The requested record was not found</span>
}
else
{
    <div class="h4">
        Are you sure you want to delete the order you placed on @Model.Order.First().OrderDate?
    </div>
    <form method="post">
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <div class="form-group">
            <input type="submit" name="DeleteOrder" value="Delete Order" class="btn btn-danger" />
        </div>
    </form>
}