﻿@page
@model RazorPages.Pages.Orders.DisplayModel
@{
    ViewData["Title"] = "Display";
}

<h2>Display</h2>

@if (Model.Order is null && Model.Order.Count == 0)
{
    <span>The requested record was not found</span>
}
else
{
    <table class="table">
        <tbody>
            <tr>
                <td><strong>Order Name</strong></td>
                <td>@Model.Order.First().OrderName</td>
            </tr>
            <tr>
                <td><strong>Order Date</strong></td>
                <td>@Model.Order.First().OrderDate</td>
            </tr>
            <tr>
                <td><strong>Order Total</strong></td>
                <td>@string.Format("{0:C}", @Model.Order.First().Total)</td>
            </tr>
            <tr>
                <td><strong>Item Ordered</strong></td>
                <td>@Model.ItemPurchased</td>
            </tr>
            <tr>
                <td><strong>Quantity</strong></td>
                <td>@Model.Order.First().Quantity</td>
            </tr>
            <tr>
                <td colspan="2">
                    <a asp-page="./Delete" asp-route-id ="@Model.Order.First().Id" class="btn btn-danger">Delete Order</a>
                </td>
            </tr>
        </tbody>
    </table>

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="OrderUpdate.Id" value="@Model.Order.First().Id" type="hidden"/>
        <div class="form-group">
            <label asp-for="OrderUpdate.OrderName" class="control-label"></label> 
            <input asp-for="OrderUpdate.OrderName" value="@Model.Order.First().OrderName" class="form-control" />
            <span asp-validation-for="OrderUpdate.OrderName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Update Order Name" class="btn btn-primary" />
        </div>
    </form>
}